# Copyright (C) 2002-2025 CERN for the benefit of the ATLAS collaboration

# Files made by CMake in an in-source build.
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Build directory used by VSCode.
build

# AtlasSetup artifact(s).
.asetup.save

# Athena artifact(s).
eventLoopHeartBeat.txt
hostnamelookup.tmp
PoolFileCatalog.xml
